/* RESET GERAL */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Estilização Form*/

main section {
  display: flex;
  flex-direction: column;
  background-color: #7f5a407a;
  justify-content: center;
  align-items: center;
}

#titulo {
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem;
  padding-top: 1rem;
}

.labels {
  background-color: rgba(255, 255, 255, 0.08);
  margin: 1rem auto;
  padding: 1.5rem;
  border: 1px solid #8d7a6d44;
  border-radius: 1rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}


.input-field {
  display: flex;
  width: 30vw;
  height: 2vh;
  position: relative;
  background: #DAC691;
  border-top-right-radius: 20px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 20px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 17px;
}

/* Style submit button */
.submit-button {
  width: 100px;
  height: 36px;
  padding: 8px;
  background: #7F5A40;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-enviar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 0.1rem;
}

.mensagem {
  display: flex;
  width: 30vw;
  height: 8vh;
  position: relative;
  background: #DAC691;
  border-top-right-radius: 20px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 20px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 17px;
  overflow: hidden;
  
}