
h1 {
    display: flex;
    text-align: center;
    background-color: antiquewhite;
    justify-content: center;
}

#lista {
    background-color: bisque;
    list-style-type: none;
    display: flex;
    justify-content: end;
}

nav {
    background-color: darkgray;
}

body {
    background-color:floralwhite;
}

___________________________________________

table {
    background-color: black;
}

